body {
  background: #f8e8a6;
}

h1,
p {
  text-align: center;
}

.navigation-links {
  text-align: center;
}

.navigation-link {
  padding: 10px;
}

img {
  border-radius: 10px;
}

.navigation-links a {
  color: green;
}

.navigation-links:visited {
  color: green;
}
